# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# C++ compiled files
*.exe
*.obj
*.out
*.dll
*.lib
*.a

# Logs and databases
*.log
*.sql
*.sqlite
*.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.swn
.project
.pydevproject
.settings/

# Project specific
output/
logs/
data/his/